<link rel="stylesheet" href="~/css/AddForm.css" />

<div class="container mt-5" style="max-width:85%;">
    <h1 class="mb-5">Додати нову тему</h1>
    <form href="/topics/add" method="post" class="needs-validation">

        <div class="form-group mb-3">
            <label for="Title" class="mb-2">Назва теми:</label>
            <textarea class="form-control" id="Title" name="Title" rows="3" maxlength="300" placeholder="Введіть назву теми" required></textarea>
            <div class="invalid-feedback" id="TitleFeedback"></div>
        </div>

        <div class="form-group mb-4">
            <label for="Number" class="mb-2">Номер теми:</label>
            <input type="number" class="form-control" id="Number" name="Number" placeholder="Введіть номер теми" min="0" required>
            <div class="invalid-feedback" id="NumberFeedback"></div>
        </div>

        <br />
        <button type="submit" class="btn btn-primary col-lg-4 col-md-8 col-12 mb-4">Додати</button>
    </form>
</div>