.question-container {
    border: 0;
    border-radius: 15px;
    padding: 20px;
    text-decoration: none;
    background-color: #f8f9fa;
    outline: none;
}

.question-container:hover {
    background-color: #f8f9fa;
}

.question-content {
    position: relative;
}

.question-details {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.question-text {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.answer {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
    text-align: left;
}

    .answer:hover {
        background-color: #e2e6ea;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        color: black;
    }

    .answer.correct {
        background-color: lightgreen;
    }

    .answer.incorrect {
        background-color: lightcoral;
    }

.feedback {
    margin: 0;
    padding-top: 10px;
    font-weight: bold;
}
