.footer {
    background-color: #353839;
    color: #ffffff;
    padding: 1px 0;
    width: 100%;
    bottom: 0;
}

.left-panel {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0; /* Stick to the top of the viewport */
    height: 100vh; /* Full height of viewport */
    overflow-y: auto; /* Adds scroll to the left panel if needed */
    padding: 1.5rem;
}

p {
    font-family: "Raleway", sans-serif;
}

h1, h2, h3, h4 {
    font-family: "Raleway", sans-serif;
}

.content-area {
    padding-top: 1.3rem;
    background: linear-gradient(to right, #D4F1F4, #ADD8E6);
}

.btn {
    font-family: "Raleway", sans-serif;
}