name: Build

on: 
  workflow_dispatch:
  pull_request_target:
    branches:
      - main
  push:
    branches:
      - main

env:
  DOTNET_VERSION: "8.x"

jobs:
  build: 
    runs-on: ubuntu-latest
    
    steps: 
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with: 
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Cache NuGet packages
        uses: actions/cache@v3
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
          restore-keys: |
            ${{ runner.os }}-nuget-

      - name: Set up Environment Variables
        run: |
          echo "DbSettings__ConnectionString=${{ secrets.DB_CONNECTION_STRING }}" >> $GITHUB_ENV
          echo "JwtSettings__SecretKey=${{ secrets.JWT_SECRET_KEY }}" >> $GITHUB_ENV
          echo "JwtSettings__Issuer=${{ secrets.JWT_ISSUER }}" >> $GITHUB_ENV
          echo "JwtSettings__Audience=${{ secrets.JWT_AUDIENCE }}" >> $GITHUB_ENV
          echo "GroqApiSettings__ApiKey=${{ secrets.GROQ_API_KEY }}" >> $GITHUB_ENV

      - name: Clean Solution
        run: dotnet clean ./src/TraffiLearn.sln

      - name: Restore
        run: dotnet restore ./src/TraffiLearn.sln

      - name: Build
        run: dotnet build ./src/TraffiLearn.sln --configuration Release --no-restore

      - name: Run Unit Tests
        run: dotnet test ./tests/TraffiLearn.UnitTests/TraffiLearn.UnitTests.csproj --configuration Release --no-restore --no-build --logger "trx;LogFileName=TraffiLearn.UnitTests.trx" --results-directory ./TestResults

      - name: Run Domain Tests
        run: dotnet test ./tests/TraffiLearn.DomainTests/TraffiLearn.DomainTests.csproj --configuration Release --no-restore --no-build --logger "trx;LogFileName=TraffiLearn.DomainTests.trx" --results-directory ./TestResults

      - name: Run Architecture Tests
        run: dotnet test ./tests/TraffiLearn.ArchitectureTests/TraffiLearn.ArchitectureTests.csproj --configuration Release --no-restore --no-build --logger "trx;LogFileName=TraffiLearn.ArchitectureTests.trx" --results-directory ./TestResults

      - name: Run Integration Tests
        run: dotnet test ./tests/TraffiLearn.IntegrationTests/TraffiLearn.IntegrationTests.csproj --configuration Release --no-restore --no-build --logger "trx;LogFileName=TraffiLearn.IntegrationTests.trx" --results-directory ./TestResults

      - name: Publish Test Results
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: test-results
          path: '**/TestResults/*.trx'

      - name: Notify on Failure
        if: failure()
        run: echo "Build failed."

      - name: Notify on Success
        if: success()
        run: echo "Build and tests succeeded."
